* {
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    width: 100%;
}

.game {
    display: flex;
    width: 90vw;
    margin: auto;
    padding: 1%;
    border-radius: 15px;
}

.touches {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 4%;
    gap: 1rem;
}

.toucheSimon {
    width: 7vw;
    height: 10vh;
    border: white 2px solid;
    border-radius: 60px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .touches{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .toucheSimon {
        width: 5vw;
        height: 2vh;
    }
}

.link {
    z-index: 1;
    position: relative;
    display: inline-block;
    font-size: 3em;
    color: gray;
    text-transform: uppercase;
    transition: color 275ms ease;

    &:hover {
        color: #000;

        ~.hover-container {
            .link-text {
                opacity: 1;
            }

            .image-container {
                opacity: 1;
            }
        }
    }
}

.link-text {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    pointer-events: none;
    clip-path: circle(75px at var(--x) var(--y));
    opacity: 0;
    transition: opacity 250ms ease;
}

.image-container {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    opacity: 0;
    transition: opacity 250ms ease;
}

.image-inner {
    position: absolute;
    top: -75px;
    left: -75px;
    width: 150px;
    height: 150px;
}

.link-image {
    display: block;
    max-width: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    filter: brightness(0.9);
}