@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
span,
label,
a {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
    width: 75%;
    margin-top: 1rem;
    height: 10vh;
    min-width: 50vw;
    color: #fff;
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 30px;
}

.card-3 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
    width: 75%;
    margin-top: 1rem;
    height: 15vh;
    min-width: 50vw;
    color: #fff;
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 30px;
}

a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    margin-bottom: 15vh;
    border-radius: 30px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        background-color: white;
        color: black;
        transition: all 0.5s ease;
    }
}

.next_page {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background: none;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    margin-bottom: 15vh;
    border-radius: 30px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;

    &.active {
        opacity: 1;
        display: flex;
    }

    &:hover {
        background-color: white;
        color: black;
        transition: all 0.5s ease;
    }
}

.card-2 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
    width: 75%;
    margin-top: 1rem;
    height: 13vh;
    min-width: 50vw;
    color: #fff;
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 30px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 75%;
    margin-top: 5%;
}

.groupeSelect {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin: 0 auto;
    margin-top: 5%;
    width: 75%;


    .select {
        display: flex;
        justify-content: space-between;

        // height: 200px;
        // max-width: 1120px;
        // margin: 0 auto;
        &.custom {
            width: 50%;
        }
    }

    .select-content {
        background-color: #222;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.19);
        text-align: left;
        padding: 1rem;

        &.flex {
            .text {
                flex-direction: column;
            }
        }
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 2rem;
    }
}


.nextButton {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;

    &.active {
        display: flex;
        opacity: 1;
    }
}

.ciblage {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 5%;
    width: 75%;
    background-color: #222;
    padding: 2rem;
    border-radius: 30px;
}

.quizz {
    border: 1px solid rgba(255, 255, 255, 0.19);
    padding: 1rem;
    border-radius: 30px;
    width: 40vh;
    background-color: #222;
}