@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
span,
a {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
}

.card {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .card-body {
        display: flex;
        align-items: center;
        width: 80%;
        gap: 1%;

        .absolute {
            position: relative;

            img {
                width: 1088px;
            }

            #wrongChoice {
                position: absolute;
                top: 0;
                color: white;
                background-color: red;
                width: 100%;
                left: 0;
                text-align: center;
                padding: 1%;
                border-radius: 20px;
                transition: all 0.5s ease;
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }

            #goodChoice {
                position: absolute;
                top: 0;
                color: white;
                background-color: green;
                width: 100%;
                left: 0;
                text-align: center;
                padding: 1%;
                border-radius: 20px;
                transition: all 0.5s ease;
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }
        }
        .text {
            width: 30%;
            display: flex;
            flex-direction: column;
            font-size: 20px;
        }
    }

    .button {
        margin: 2% 0;
        > img {
            cursor: pointer;
        }
    }
}

.all {
    height: 100vh;
    width: 100vw;
    background-image: url('./img/cockpit.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .cardFinish {
        background: rgba( 255, 255, 255, 0.75 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12px );
        -webkit-backdrop-filter: blur( 12px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        a {
            text-decoration: none;
            padding: 1%;
            border: 1px solid #BFFFFF;
            border-radius: 10px;
            width: 100px;
            text-align: center;
            margin-left: auto;
        }
    }
}